
<footer class="footer-container">
        <div class="footer-content">
          <!-- Your footer content here -->
        </div>
        <nav class="footer-links">
          <%if(locals.employee){%>
            <% if(locals.employee.userAccessType==='Admin'){%>
              <a href="/employee/Home">Pending Feedback</a>
              <%}%>
            <%}%>
        </nav>
      </footer>
      