<header class="header-container">
        <label for=""><a class="header-logo" href="#">Your Logo</a></label>
        <%if(locals.employee){%>
          <label for=""><%=locals.employee.name%></label>
          <%}%>
        <nav>
          <ul class="header-links">
            <% if(!locals.employee){%>
            <li><a href="/sign-in">Sign IN</a></li>
            <li><a href="/sign-up">Sign UP</a></li>
            <%}else if(locals.employee.userAccessType==='Admin'){%>
              <li><a href="/admin/adminHome">Home</a></li>
              <li><a href="/sign-out">Sign Out</a></li>
            <%}else{%>
              <li><a href="/employee/home">Home</a></li>
            <li><a href="/sign-out">Sign Out</a></li>
            <%}%>
            
            
          </ul>
        </nav>
      </header>
      