<link rel="stylesheet" href="/css/adminHome_layout.css">
<h1>
    <center>
        Admin Panel
    </center>
</h1>

<div id="adminHomeContainer">

    <div id="adminMenu">
        <div id="usersDiv">
            <p>
                <h2>Select Employee for feedback</h2>
            </p>
            <ul id="employeeList">
                <% if(employeeList.length){%>
                <% for(employee of employeeList) {%>
                <li>
                    <div id="empMenu">
                        <h3><label> <%=employee.name%></label></h3>
                        <strong><a href="/admin/manageReview/<%=employee.id%>">Manage Review</a></strong>
                        <strong><a href="/admin/manageUser/<%=employee.id%>">Manage User</a></strong>
                        <strong><a href="/admin/feedback-form/<%=employee.id%>">Submit Feedback</a></strong>
                    </div>
                </li>
                <%}}else{%>
                    <li>
                        <div id="defaultEmpMenu">
                            <h3><label> No Empoyee exist</label></h3>
                        </div>
                    </li>
                    <%}%>
            </ul>
        </div>
        <div id="addNewEmployee">
            <p><h2>Add New User</h2></p>
            <form id="addNewEmployeeForm" action="/admin/create" method="post">
                <table id="tbl-add-emp">
                    <tr>
                        <td><label><strong>Name:</strong></label></td>
                        <td><input type="text" name="name" placeholder="Your name" required><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <label><strong>Email:</strong></label>
                        </td>
                        <td>
                            <input type="email" name="email" placeholder="Your email" required><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><strong>Password</strong></label>
                        </td>
                        <td>
                            <input type="password" name="password" placeholder="Password" required><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label><strong>Confirm Password </strong></label>
                        </td>
                        <td>
                            <input type="password" name="confirm_password" placeholder="Confirm Password" required><br />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" id="btnSubmit" value="Add Employee">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
      