<h1>
    <center>
        Sign UP!!!!
    </center>
</h1>
<div id="signUp-container">
    <form action="/employee/create" id="new-employee-form">
        <table>
            <tr>
                <td><label>Name:</label></td>
                <td><input type="text" name="name" placeholder="Your name" required><br /></td>
            </tr>
            <tr>
                <td>
                    <label>Email:</label>
                </td>
                <td>
                    <input type="email" name="email" placeholder="Your email" required><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="password" name="password" placeholder="Password" required><br />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Confirm Password</label>
                </td>
                <td>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" required><br />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Sign Up">
                </td>
            </tr>
        </table>
    </form>
</div>