<link rel="stylesheet" href="/css/home_layout.css">
<% if(locals.employee){%>
<div id="home-container">
    <section id="feedback-list">
        <h4>
            Pending Feedbacks of Employees
        </h4>
        <div id="feedback-list-container">
            <ul>
                <li>
                    <label>
                        Emp 1
                    </label>
                </li>
                
            </ul>
        </div>
    </section>
</div>
<%}%>