h1{
    color: yellow;
}
h2{
    color: white;
    text-align: center;
}
label{
    color: white;
    
}
body{
    background-color: blueviolet;
    background: linear-gradient(90deg, rgba(138,43,226,1) 16%, rgba(226,43,225,0.9976365546218487) 100%);
}
p{
    font-size: larger;
}
#tbl-add-emp label{
    font-size: large;
}
#addNewEmployeeForm{
    padding:0px 0px 10px 10px;
}
#adminMenu{
    display: flex;
}
#empMenu{
    padding: 10px; text-align: center;
}
#addNewEmployee{
    padding-left: 10px; flex: 1; border: solid; margin-left: 5px; margin-right: 5px;
}
#defaultEmpMenu
{
    padding: 10px; text-align: center;
}
#usersDiv{
    padding: 5px; 
    flex: 1; 
    border: solid;
     margin-left: 5px;
}

#employeeList{
    list-style: none; 
    height: 350px; 
    overflow-y: auto;
}
#employeeList li{
    padding: 5px;
}

/* Style all input elements */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
width: 100%;
padding: 12px;
margin: 8px 0;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-size: 16px;
}

/* Style for input elements on focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
border: 2px solid #3498db;
}
/* Style for submit button */
input[type="submit"] {
display: inline-block;
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
border: none;
border-radius: 5px;
background-color: #3498db;
color: #fff;
cursor: pointer;
transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
background-color: #2980b9;
}

/* Additional styling for better accessibility */
input:focus {
outline: none;
box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
}
#SubmittedReviews{
margin:4px, 4px;
            padding:4px;
            height: 40%;
            overflow-x: hidden;
            overflow-y: auto;
            text-align:justify;
}
#usersDiv{
margin:4px, 4px;
            padding:4px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align:justify;
}
#adminHomeContainer a{
display: inline-block;
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
border: none;
border-radius: 5px;
background-color: #3498db;
color: #fff;
cursor: pointer;
transition: background-color 0.3s ease;
}

td{
    padding: 5px;
}