body{
    margin-top: 40px;
        background-color: #8a2be2;
        background: linear-gradient(90deg, rgba(138,43,226,1) 16%, rgba(226,43,225,0.9976365546218487) 100%);
 
}
#layout-main{
    height: 100%;
}